<!doctype html>
<html>
<head>
  <title>nuke-demo-</title>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
<style>
   body {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
    }
</style>
</head>

<body style="margin: 0; padding: 0;">

<script src="//g.alicdn.com/code/npm/web-rax-framework/0.1.2/dist/framework.web.min.js"></script>
<!--H5内建降级nuke，可引用以下资源，注意nuke版本号-->
<!--<script src="//g.alicdn.com/nuke/nuke-package/0.6.18/nuke.builtin.js"></script>-->
<script type="text/javascript" src="/build/index.js"></script>
</body>
</html>
