<!doctype html>
<html>
<head>
    <title><{%= fileName %}></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
</head>

<body>
<style>
    body {
        margin: 0;
    }
</style>
<script src="//g.alicdn.com/mtb/??3rd/0.0.10/require.js,lib-login/1.5.7/login.js,lib-promise/3.0.1/polyfillB.js,lib-mtop/1.6.3/mtop.js,lib-mtop/1.6.3/middleware.js,lib-windvane/2.1.1/windvane.js"></script>
<!-- rx && built modules -->
<!-- <script src="//g.alicdn.com/kg/??rx/0.1.21/index.nv.js,rx-mounter/0.0.6/index.nv.js,rx-components/1.0.3/index.nv.js,rx-location/0.1.2/index.nv.js,rx-user/0.0.6/index.nv.js,rx-mtop/0.0.8/index.nv.js,rx-windvane/0.1.1/index.nv.js,rx-env/0.0.8/index.nv.js"></script> -->
<script type="text/javascript" src="/<{%=fileName%}>.js"></script>
</body>
</html>
